<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Inkwash Desktop needs to view nearby Wi-Fi networks so you can pick the 2.4 GHz network for your device to connect to.</string>
</dict>
</plist>